* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: helvetica;
}

body {
	background: url(../img/background.jpg) no-repeat top left fixed;
}
.clearfix:after {
	display: block;
	content:'.';
	height: 0;
	clear: both;
	overflow: hidden;
}
.opacity {
	background: #000;
	opacity: .3;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: 99;
}
.log-out {
	margin: 0 !important;
	top: 30px;
	right: 8px;
}
/*-----------------------Registration form----------------------------*/
.registration {
	margin: 100px auto 0;
	width: 300px;
	height: 335px;
	background: #fff;
}
.registration-success {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 80px auto 0;
	padding: 50px 10px 10px;
	width: 621px;
}
.registration-success > h1 {
	font-size: 38px;
	line-height: 38px;
	margin-bottom: 50px;
	color: #2ea7db;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal
}
.registration-success > p {
	margin: 15px;
	color: #385670;
}
p.first-p{
	font-weight: bold;
	text-align: center
}
.reg-header {
	background: #273c4e;
	height: 62px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding: 24px 0;
}
.reg-form > form  {
	width: 280px;
	padding: 20px 0 0 20px;
}
.reg-form > form > input, .reg-form > form > label {display: block}
.reg-form > form > label {
	margin-bottom: 6px;
	color: #385670;
	font-weight: 700;
}
.reg-form > form > input {
	width: 251px;
	margin-bottom: 15px;
	border: 1px solid #385670;
	border-radius: 4px;
	padding: 12px;
}
.reg-submit {
	width: 300px !important;
	padding: 20px 0  !important;
	text-align: center;
	background: #eeeff3;
	margin-left: -20px;
}
.reg-submit > button {
	vertical-align: middle;
	background: #4b98dc;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	height: 34px;
	width: 108px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	font-size: 13px;
	line-height: 14px
}
.reg-submit > input:hover {
	box-shadow: none;
}
.recover-password, .to-reg {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #4b98dc;
	width: 300px;
	font-size: 13px;
	padding: 10px 0 0 0;
}
/*--------------------------------------------Recover----------------------------*/
.recovering {
	width: 1000px;
	margin: 50px auto;
	background: #fff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px
}
.recover-header {
	padding: 15px;
	height: 75px;
	position: relative;
}
.recover-header > a {
	text-decoration: none;
}
.recover-header > a > img {
	float: left;
	width: 75px;
	margin-right: 10px;
}
.recover-header > a > h1 {
	color: #385670;
	font-weight: bold;
	font-size: 16px;
	margin-top: -2px;
}
.recover-header > a > h3 {
	color: #385670;
	font-size: 13px;
	font-weight: normal;
	margin-top: 5px;
}
.recover-content-header {
	text-align: center;
	padding: 30px 0 20px 0;
	background: #eeeff3;
	box-shadow: 0 -1px 0 #dfe1e8;
	text-shadow: 0 1px 0 white;
	font-weight: 300;
	font-size: 24px;
	line-height: 24px;
	color: #385670;
	height: 85px;
}
.recover-main-content {
	width: 1000px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
}
.recover-main-content > form {
	margin-bottom: 30px;
	background: #eeeff3;
	padding: 30px;
	box-shadow: 0 3px 0 #dfe1e8;
	border-radius: 4px;
}
.recover-main-content > form > label {
	font-size: 14px;
	margin-bottom: 6px;
	line-height: 14px;
	font-weight: 700;
	display: block;
	color: #385670;
}
#email_recover {
	border-radius: 4px;
	height: 50px;
	padding: 0 16px;
	border: none;
	font-family: "Roboto", sans-serif;
	width: 100%;
	background: #fff;
	margin-bottom: 10px;
}
#recover_submit {
	vertical-align: middle;
	font-size: 13px;
	line-height: 14px;
	border-radius: 4px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 15px;
	border: none;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	text-shadow: 0 1px 0 #3aa468;
	background: #50c181;
	font-weight: 700;
}
.recover-result {
	border-radius: 4px;
	padding: 30px;
	background: #fff;
}
.recover-result > h3 {
	width: 50%;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	background: #d0d3de;
	border-radius: 4px 4px 0 0;
	vertical-align: baseline;
	font-weight: normal;
	color: #385670;
	padding: 0 20px;
}
.recover-result > p {
	width: 50%;
	border-radius: 4px;
	box-shadow: 0 3px 0 #dfe1e8;
	margin-bottom: 30px;
	background: #eeeff3;
	padding: 25px 15px;
	line-height: 21px;
	font-size: 15px;
	color: #385670;
}
/*----------------------------------Page---------------------------------------*/
#account-data {
	float: right;
	margin-top: -20px;
	margin-right: 20px;
}
.account-data {
	height: 75px;
	text-decoration: none;
	color: #385670;
}
.main-content {
	height: auto !important;
}
.main-content > h2 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	padding-left: 130px;
	margin-bottom: 20px;
}
.main-content > h3 {
	font-size: 21px;
	font-weight: 200;
	line-height: 21px;
	margin-bottom: 40px;
}
.progress_bar {
	width: 674px;
	padding: 0 70px;
	border-radius: 6px;
	box-shadow: 0 -2px 0 #949bb4;
	margin: 0 auto;
	height: 17px;
	text-align: center;
	vertical-align: top;
	border-bottom: 1px solid #fff;
	background: #b2b7c9;
	position: relative;
}
.main-content {	margin-bottom: 50px;}
.progress_bar:after {
	width: 151px;
	border-radius: 7px;
	box-shadow: 0 -2px 0 #368cd8;
	display: block;
	content: '';
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	height: 17px;
	background: #4b98dc;
}
.progress_bar li {
	display: inline-block;
	margin: 0 69px;
	height: 34px;
	width: 34px;
	border:8px solid #4b98dc;
	border-radius: 17px;
	position: relative;
	top: -7px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	color:  #4b98dc;
	background: #fff;
	z-index: 2;
}
.progress_bar li.disabled {
	display: inline-block;
	margin: 0 69px;
	height: 34px;
	width: 34px;
	border: 8px solid #b2b7c9;
	border-radius: 17px;
	box-shadow: 0 -2px 0 #949bb4;
	position: relative;
	top: -7px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	color: #767e9f;
	background: #b2b7c9;
	z-index: 2;
}
.content-container {padding: 0 20px}
.left-container {
	float: left;
	width: 70%;
	margin-right: 20px;
}
.right-container {
	float: right;
	width: 27%;
}
.main-days {list-style: none;}
.each-day {
	width: 100%;
	margin-bottom: 50px;
}
.each-day > h3 {
	border-radius: 4px 4px 0 0;
	font-size: 24px;
	height: 80px;
	padding: 0 30px;
	line-height: 80px;
	background: #dfe1e8;
}
.each-day > h3 > a {
	font-weight: 300;
	text-decoration: none;
	width: 90%;
	color: #385670;
}
.day-container {
	padding: 15px 20px;
	background: #eeeff3;
	overflow: hidden;
}
.day-container > h4 {
	margin: 0px 0px 12px 0px;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #385670;
}
.day-points {
	float: left;
	width: 50%;
	list-style: none;
}
.day-points > li > i {
	display: inline-block;
	margin-right: 5px;
	color: #dc4b4b;
}
.day-points > li > a {
	text-decoration: none;
	color: #385670;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-weight: 700;
}
.day-points > li {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 1px;
	padding: 12px 10px;
	border-bottom: 1px solid #d0d3de;
	background: #dfe1e8;
}
.learn-this-day {
	float: left;
	width: 43%;
	padding: 30px;
	text-align: center;
	background: #fff;
	margin-left: 41px;
	height: 209px;
}
.learn-this-day > i {
	font-size: 80px;
	line-height: 80px;
	color: #50c181;
	margin-bottom: 20px;
	display: block;
}
.learn-this-day > a {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	font-size: 13px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	height: auto;
	cursor: pointer;
	border: none;
	letter-spacing: 1px;
	color: #fff;
	font-family: "Roboto", sans-serif;
	background: #4b98dc;
	padding: 6px 12px;
	line-height: 14px;
	font-weight: 400;
	text-decoration: none;
}
.learn-this-day > button {
	display: block;
	margin: 10px auto;
	background: #50c181;
	vertical-align: middle;
	border-radius: 4px;
	font-size: 13px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	cursor: pointer;
	color: #fff;
	border: none;
	letter-spacing: 1px;
	font-family: "Roboto", sans-serif;
	padding: 6px 12px;
	line-height: 14px;
	font-weight: 400;
	text-align: center;
}
.sidebar {
	list-style: none;
}
.sidebar > li {
	font-size: 13px;
	line-height: 46px;
	text-shadow: 0 1px 0 #fff;
	position: relative;
	margin-bottom: 1px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 16px;
	border-bottom: 1px solid #d0d3de;
	background: #eeeff3;
}
.sidebar > li > a {
	color: #385670;
	text-decoration: none;
	font-size: 100%;
}
.sidebar > li > a > i {
	margin-right: 7px;
}
.locker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: rgba(56, 86, 112, 0.5) repeat left top;
}
.locker-content {
	display: flex;
	flex-direction:column;
	jusctify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 4;
	font-size: 15px;
}
.locker-content > i {
	position: absolute;
	top: 35%;
	right: 10px;
}
.wa_payment {
	position: relative;
	border-radius: 4px;
	box-shadow: 0 3px 0 #dfe1e8;
	margin-bottom: 30px;
	background: #eeeff3;
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.wa_payment > a > .icon {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin:0 auto 20px;
	line-height: 120px;
	background: #fff;
	text-align: center;
}
.wa_payment > a > .icon > i {
	font-size: 80px;
	line-height: 130px;
	color: #dc4b4b;
}
.wa_payment h3 {
	display: inline-block;
	border-radius: 4px;
	font-size: 13px;
	line-height: 14px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	padding: 10px 30px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	color: #fff;
	font-family: "Roboto", sans-serif;
	background: #dc4b4b;
	text-decoration: none;
}
.wa_gift {
	position: relative;
	border-radius: 4px;
	box-shadow: 0 3px 0 #dfe1e8;
	margin-bottom: 30px;
	background: #eeeff3;
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.wa_gift > a > .icon {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin:0 auto 20px;
	line-height: 120px;
	background: #fff;
	text-align: center;
}
.wa_gift > a > .icon > i {
	font-size: 80px;
	line-height: 130px;
	color: #50c181;
}
.wa_gift h3 {
	display: inline-block;
	border-radius: 4px;
	font-size: 13px;
	line-height: 14px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	padding: 10px 30px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	color: #fff;
	font-family: "Roboto", sans-serif;
	background: #50c181;
	text-decoration: none;
}
.wa_consult {
	position: relative;
	border-radius: 4px;
	box-shadow: 0 3px 0 #dfe1e8;
	margin-bottom: 30px;
	background: #eeeff3;
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.wa_consult > a > .icon {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin:0 auto 20px;
	line-height: 120px;
	background: #fff;
	text-align: center;
}
.wa_consult > a > .icon > i {
	font-size: 80px;
	line-height: 130px;
	color: #4b98dc;
}
.wa_consult h3 {
	display: inline-block;
	border-radius: 4px;
	font-size: 13px;
	line-height: 14px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	padding: 10px 30px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	color: #fff;
	font-family: "Roboto", sans-serif;
	background: #4b98dc;
	text-decoration: none;
}
.wa_registration {
	position: relative;
	border-radius: 4px;
	box-shadow: 0 3px 0 #dfe1e8;
	margin-bottom: 30px;
	background: #eeeff3;
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}
.wa_registration > a > .icon {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin:0 auto 20px;
	line-height: 120px;
	background: #fff;
	text-align: center;
}
.wa_registration > a > .icon > img {
	font-size: 80px;
	line-height: 130px;
	color: #4b98dc;
	width: 90px;
	position: absolute;
	top: 55px;
	left: 85px;
}
.wa_registration h3 {
	display: inline-block;
	border-radius: 4px;
	font-size: 12px;
	line-height: 14px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	padding: 10px 30px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	color: #fff;
	font-family: "Roboto", sans-serif;
	background: #dc4b4b;
	text-decoration: none;
	width: 250px;
}

/*----------------------AccountPage------------------------------*/
#backToIndex {
	float: left;
	display: block;
	margin-top: 28px;
	margin-left: -73px;
	color: #385670;
	text-decoration: none;
}
.account-header {
	height: 109px;
}
.account-content > h2 {
	padding-left: 15px !important;
}
.account-container {
	padding: 0 15px;
	overflow: hidden;
}
.profile {
	border-radius: 4px;
	box-shadow: 0 3px 0 #dfe1e8;
	margin-bottom: 30px;
	background: #eeeff3;
	padding: 20px;
}
.profile > label {
	font-size: 14px;
	line-height: 14px;
	color: #385670;
	margin-bottom: 9px;
	font-weight: 700;
	display: block;
}
.profile > input {
	background: #fff;
	border-radius: 4px;
	width: 100%;
	height: 50px;
	padding: 0 16px;
	border: none;
	font-family: "Roboto", sans-serif;
	margin-bottom: 15px;
}
.uploader {
	background: none;
	height: 27px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.uploader > input {
	opacity: 0;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	float: right;
}
.uploader > .filename {
	color: #777;
	border: solid 1px #d6d4d4;
	font-size: 13px;
	background: #fbfbfb;
	margin-right: 2px;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	float: left;
	cursor: default;
	height: 27px;
	line-height: 27px;
	width: 172px;
	padding: 0 10px;
}
.uploader > .action {
	text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	background: url(../img/sprite.png) no-repeat 0 -378px;
	-webkit-font-smoothing: antialiased;
	float: left;
	text-align: center;
	display: inline;
	overflow: hidden;
	height: 27px;
	line-height: 27px;
	width: 94px;
}
.submit-account {
	display: inline-block;
	margin: 15px 0;
	width: 145px !important;
	vertical-align: middle;
	border-radius: 4px !important;
	font-size: 13px;
	line-height: 14px;
	padding: 10px 30px !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	font-weight: 700;
	color: #fff;
	font-family: "Roboto", sans-serif !important;
	text-shadow: 0 1px 0 #3aa468;
	background: #50c181 !important;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	height: auto !important;
}
/*------------------------------------------------------Response Form----------------------------------------*/
.response_form {
	position: fixed;
	left: 32%;
	top: 21%;
	z-index: 100;
	width: 560px;
}
span.fa.fa-close {
	border-radius: 50%;
	vertical-align: middle;
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-size: 14px;
	color: #fff;
	background: #dc4b4b;
	margin-top: -12px;
	position: absolute;
	margin-left: 546px;
}
.response_form h2 {
	border-radius: 4px 4px 0 0;
	padding: 24px 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #273c4e;
	font-weight: normal;
}
.response_form h3 {
	background: #fff;
	color: #273c4e;
	text-align: center;
	padding: 25px 0;
	font-weight: normal;
	font-size: 16px;
}
.response_content {
	position: 20px 0 ;
	text-align: center;
	background: #eeeff3;
}
.response_content > textarea {
	border-radius: 6px;
	width: 90%;
	min-height: 80px;
	margin: 0 0 20px 0;
	padding: 16px;
	border: none;
	resize: vertical;
	font-family: "Roboto", sans-serif ;
	font-size: 14px;
	background: #fff;
}
.submit_response {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	font-size: 13px;
	line-height: 14px;
	text-decoration: none;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	height: auto;
	padding: 10px 30px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	color: #fff;
	font-family: "Roboto", sans-serif ;
	text-shadow: 0 1px 0 #3aa468;
	background: #50c181;
	margin: 15px;
}
/*-------------------------------Payment-------------------------------------*/
.content-container > table {
	width: 100%;
	margin: 0 0 30px;
	border-collapse: collapse;
	border-spacing: 0;
	color: #385670;
}
.content-container tr {
	background: rgba(0, 0, 0, 0.01);
}
.content-container th {
	padding: 26px 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	color: #fff;
}
.content-container th:nth-child(2) {
	border-radius: 6px 0 0 0;
	background: #4b98dc;
}
.content-container th:nth-child(3) {
	background: #287fcc;
}
.content-container th:nth-child(4) {
	border-radius: 0 6px 0 0;
	background: #1f65a2;
}
.content-container table td {
	font-size: 18px;
	padding: 10px;
	width: 20%;
	text-align: center;
	border: 1px solid #eeeff3;;
}
.content-container table td:first-child {
	font-size: 13px;
	width: 40%;
	text-align: left;
	border: none;
	font-weight: bold;
	border-bottom: 1px solid #eeeff3;
}
.tooti {
	font-size: inherit;
	cursor: help;
	position: relative
}
.tooti > p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background: #fff;
	border: 1px solid #ccc;
	margin: 40px 15px;
	width: 200px;
	height: auto;
	padding: 5px;
	box-shadow: 0px 0px 2px 0px #111
}
.yes {
	color: #50c181;
	font-size: 24px !important;
}
.no {
	color: rgba(0, 0, 0, 0.2);
	font-size: 24px !important
}
.info {
	font-size: 12px;
	font-weight: bold;
}
.content-container table > tfoot td {
	vertical-align: top;
	background: #385670 !important;
	border-left: 1px solid #30495f;
	border-right: none;
	position: relative;
}
.content-container table > tfoot > tr > td > img {
	position: absolute;
	left: 20px;
	top: -10px;
}
.price {
	color: #fff;
	margin: 10px 0 16px;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}
.tobuy {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	font-size: 13px;
	line-height: 14px;
	box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
	padding: 10px 30px;
	height: auto;
	cursor: pointer;
	border: none;
	letter-spacing: -1px;
	text-decoration: none;
	width: 90%;
	margin-bottom: 10px;
	background: #50c181;
	text-shadow: 0 1px 0 #3aa468;
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}
.tobuy.red {
	background: #dc4b4b;
	padding: 6px 12px;
	line-height: 14px;
	text-transform: none;
	font-weight: 400;
}
.consult_payment {
	text-align: center;
	width: 50%;
	padding: 25px;
	margin: 0 auto;
	border: 4px solid #dc4b4b;
	border-radius: 13px;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
}
.consult_button {
	display: block;
	width: 179px !important;
	margin: 10px auto;
	text-transform: uppercase !important;
	font-weight: bold !important;
	height: 40px;
	padding-top: 13px !important;
}
.consult_container {
	width: 332px;
	position: fixed;
	padding: 24px;
	top: 35%;
	left: 40%;
	border-radius: 5px;
	background: #30495f;
	z-index: 99;
}
.consult_container > span {
	margin-left: 295px !important;
	margin-top: -35px !important;
}
.content-container input {
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
	width: 93%;
}
.consult_send {
	width: 129px;
	display: block !important;
	background: #50c181 !important;
	margin: 10px auto;
	text-align: center;
	text-transform: uppercase !important;
	letter-spacing: -1px;
	font-weight: bold !important;

}
.payment_methods {
	width: auto;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
.payment_methods li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
}
.payment_methods > li > img {
	width: 90px;
	height: auto;
	opacity: .15;
}
/*-------------------------Each day------------------------------*/
.day-content-item {
	text-align: center;
	margin-bottom: 25px;
}
.day-content-item > h3 {
	font-size: 24px;
	border-radius: 4px 4px 0 0;
	height: 80px;
	padding: 0 29px;
	line-height: 80px;
	background: #dfe1e8;
	font-weight: 300;
	text-align: left;
	text-decoration: none;
	color: #385670;
}
.day-content-item > h3 > i {
	margin-right: 10px;
}
.day-content-wrap-n {
	display: block;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 3px 0 #dfe1e8;
	margin-bottom: 30px;
	background: #eeeff3;
}